<div class="send-area-container">
    <div class="app-title">
        <mat-icon class="cl-gray">send</mat-icon>
        <span class="app-title__name">Отправленные</span>
        <div class="block-right">
            <mat-icon class="cl-gray">wifi</mat-icon>
            <button mat-raised-button color="primary" class="bg-blue" (click)="createMailing()">Новая рассылка</button>
        </div>
    </div>
    <p class="cl-gray">
        Вы находитесь в разделе рассылок. Вы можете ее осуществить по вашей базе пользователей.
    </p>
    <div class="btns-block">
        <span class="btns-block__link cl-blue">Что такое ручные рассылки</span>
        <span class="btns-block__link cl-blue">С чего начинать</span>
        <span class="btns-block__link cl-blue">Обучающее видео</span>
    </div>
    <mat-divider></mat-divider>
</div>