.editor-container {
    height: 250px;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 20px;

    display: flex;
    flex-direction: column;

    .editor-title {
        height: 40px;

        h4 {
            padding: 0;
            margin: 0;
        }
    }

    .editor-text-field {
        flex: 1;
        position: relative;
        border: 1px solid gray;
        border-radius: 10px;
        background: white;

        &__main {
            position: absolute;
            width: calc(100% - 40px);
            height: calc(100% - 80px);
            border-radius: 10px;
            padding: 20px;
            outline: none;
            overflow: auto;

            &[data-placeholder]:empty:before {
                content: attr(data-placeholder);
                color: rgb(171 171 171);
            }
        }

        &__footer {
            display: flex;
            align-content: center;
            position: absolute;
            bottom: 0;
            width: 100%;

            button:nth-child(2) {
                width: 20px;
            }

            button:nth-child(3) {
                width: 20px;
            }

            .right-block {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 10px;
            }
        }
    }

    .editor-footer {
        margin-top: 20px;
        height: 40px;
        display: flex;
        justify-content: flex-end;

        button {
            text-transform: uppercase;
        }
    }

    &.ng-touched.ng-invalid {
        border: 1px solid #ff3355;
    }
}
