.app-title {
    font-weight: 500;
    font-size: 18px;

    display: flex;
    align-items: center;

    &__name {
        margin-left: 10px;
        flex: 1;
    }

    .block-right {
        display: flex;
        align-items: center;

        button {
            margin-left: 20px;
        }
    }
}

.app-menu {
    margin-left: 0;
    padding-left: 0;
    margin-top: 60px;

    &__item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        list-style-type: none;
        cursor: pointer;

        &.active {
            color: royalblue;
        }
    }
}

.main-area-container {
    padding: 20px;
}

.mb-44 {
    margin-bottom: 44px !important;
}

.send-area-container {
    .btns-block {
        @extend .mb-44;

        &__link {
            margin-right: 10px;
        }

        &__basic {
            button {
                margin-right: 10px;
            }
        }
    }
}

.w100 {
    width: 100%
}

.ellipse-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.create-area-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .stepper {
        flex: 1;
        display: flex;
        flex-direction: column;

        .step-container {
            border-left: none;
            border-right: none;
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-top: 10px;

            &__main {
                flex: 1;
                display: flex;
                border-top: 1px solid rgba(0, 0, 0, .12);
                border-bottom: 1px solid rgba(0, 0, 0, .12);

                .main__left {
                    flex: 0 0 55%;
                    border-right: 1px solid rgba(0, 0, 0, .12);
                    padding-right: 48px;

                    .step3-text {
                        margin-top: -18px;
                        font-size: 12px;

                        a {
                            text-decoration: none;
                        }
                    }
                }

                .main__right {
                    padding-top: 50px;
                    flex: 0 0 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-icon {
                        font-size: 70px;
                        width: 70px;
                        height: 70px;
                    }

                    &-text {
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                }

                .custom-field {
                    display: block;
                }

                .select-time {
                    display: flex;
                    flex-direction: column;

                    mat-radio-button {
                        margin: 5px;
                    }
                }
            }

            &__footer {
                padding: 20px 0;
                height: 40px;
                position: absolute;
                bottom: 0;
            }
        }
    }

    .btns-block {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        button {
            text-transform: uppercase;
            margin-right: 10px;
            margin-bottom: 10px;

            mat-icon {
                margin-right: 10px;
            }
        }
    }
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.table-container {
    .ellipse-text-cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .name-desc {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 1rem;
            max-width: 100px;
        }
    }
}

.mailing-editor-container {
    &.ng-touched.ng-invalid {
        border: 1px solid #ff3355;
    }
}
