.cl-gray {
    color: $cl-gray !important;
}

.cl-blue {
    color: $cl-blue !important;
}

.cl-green {
    color: $cl-green !important;
}

.cl-orange {
    color: $cl-orange !important;
}

.bg-blue {
    background-color: $bg-blue !important;
}

.bg-gray {
    background-color: $bg-gray !important;
}
