.mailing-container {
    height: 100%;

    &__aside {
        height: 100%;
        padding: 20px;
        width: 200px;
        background-color: rgb(245, 246, 247);
    }

    main {
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100% - 40px);
        width: calc(100% - 240px);
        margin: 20px 0 20px 240px
    }
}
