$cl-gray: rgb(184, 184, 184);
$cl-gray2: rgb(243, 243, 243);
$cl-blue: rgb(0, 97, 241);
$cl-green:rgb(15, 180, 0);
$cl-orange: rgb(175, 134, 0);

$bg-gray2: rgb(243, 243, 243);
$bg-blue: rgb(0, 97, 241);
$bg-gray: rgb(184, 184, 184);
$bg-green: rgb(15, 180, 0);
